@{
    ViewBag.Title = "About";
}

<link href="~/Content/mainclass.css" rel="stylesheet" />
<section class="cap-heading">
    <h1> Current Players</h1>
</section>



<section class="player-area">
    <!--****** Ali, Maryam data ****** -->
    <div class="card">
        <div class="card-image">
            @* <img src="img/player-img/1.jpg">*@
            <img src="~/img/player-img/1.jpg" />
        </div>
        <div class="card-text">

            <h2>Ali, Maryam</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">55</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">29</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">3/12</div>

            </div>
        </div>
    </div>
    <!-- ****** Ali, Sukaina data  ******-->
    <div class="card">
        <div class="card-image">
            @*<img src="img/player-img/2.jpg">*@
            <img src="~/img/player-img/2.jpg" />
        </div>
        <div class="card-text">

            <h2>Ali, Sukaina</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">61</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">17</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">2/0</div>
            </div>
        </div>
    </div>
    <!-- ****** Cook, Katrina data  ******-->
    <div class="card">
        <div class="card-image">
            @*<img src="img/player-img/3.jpg">*@
            <img src="~/img/player-img/3.jpg" />
        </div>
        <div class="card-text">

            <h2>Cook, Katrina</h2>
            <h5> Wicket-Keeper Batsman</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">189</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">3348</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">127*</div>
            </div>
        </div>
    </div>

</section>

<section class="player-area">
    <!--  ****** De Cruze,Rushani  data ******-->
    <div class="card">
        <div class="card-image">
            @* <img src="img/player-img/4.jpg">*@
            <img src="~/img/player-img/4.jpg" />
        </div>
        <div class="card-text">

            <h2> De Cruze, Rushani</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">40</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">12</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">2/9</div>

            </div>
        </div>
    </div>

    <!--****** De Silva, Induni data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/5.jpg" />
        </div>
        <div class="card-text">

            <h2>De Silva, Induni</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">25</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">5</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">3/5</div>
            </div>
        </div>
    </div>

    <!-- ****** Dissanayake, Randini data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/6.jpg" />
        </div>
        <div class="card-text">

            <h2>Dissanayake, Randini</h2>
            <h5> Wicket-Keeper Batswoman</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">41</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">163</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">24*</div>
            </div>
        </div>
    </div>

</section>
<section class="player-area">
    <!--  ****** Haysom, Clare  data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/7.jpg" />
        </div>
        <div class="card-text">

            <h2>Haysom, Clare</h2>
            <h3> Batswoman</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">34</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">116</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">26*</div>

            </div>
        </div>
    </div>

    <!--****** Haysom , Megan data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/8.jpg" />
        </div>
        <div class="card-text">

            <h2>Haysom , Megan</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">32</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">1</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">1/12</div>
            </div>
        </div>
    </div>

    <!-- ****** Jayakody, Neasha data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/9.jpg" />
        </div>
        <div class="card-text">

            <h2>Jayakody, Neasha</h2>
            <h5> Bowler</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">34</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">3</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">1/11</div>
            </div>
        </div>
    </div>

</section>
<section class="player-area">
    <!--  ****** Jones, Catherine  data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/10.jpg" />
        </div>
        <div class="card-text">

            <h2>Jones, Catherine </h2>
            <h3> Batswoman</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">163</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">1661</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">72</div>

            </div>
        </div>
    </div>

    <!--****** Kashyap, Devna data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/11.jpg" />
        </div>
        <div class="card-text">

            <h2>Kashyap, Devna</h2>
            <h3> All Rounder</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">51</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">34</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">3/14</div>
            </div>
        </div>
    </div>

    <!-- ****** Kazi, Sumreen data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/12.jpg" />
        </div>
        <div class="card-text">

            <h2>Kazi, Sumreen</h2>
            <h5> All Rounder</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">10</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">8</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">3/28</div>
            </div>
        </div>
    </div>

</section>
<section class="player-area">
    <!--  ****** Koswatta-Gamage, Dinithi  data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/13.jpg" />
        </div>
        <div class="card-text">

            <h2>Koswatta-Gamage, Dinithi</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">40</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">17</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">3/5</div>

            </div>
        </div>
    </div>

    <!--****** Machin, Linda G data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/14.jpg" />
        </div>
        <div class="card-text">

            <h2>Machin, Linda G</h2>
            <h3> Batswoman</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">153</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">7682</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">208</div>
            </div>
        </div>
    </div>

    <!-- ****** Manukulasuriya, Saseeka ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/15.jpg" />
        </div>
        <div class="card-text">

            <h2>Manukulasuriya, Saseeka</h2>
            <h5> All rounder</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">15</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">15</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">4/17</div>
            </div>
        </div>
    </div>

</section>
<section class="player-area">
    <!--  ****** Mccusker, Dominique  data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/16.jpg" />
        </div>
        <div class="card-text">

            <h2>Mccusker, Dominique</h2>
            <h3> All Rounder</h3>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">44</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">389</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">61</div>

            </div>
        </div>
    </div>

    <!--****** Paterson, Julia data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/17.jpg" />
        </div>
        <div class="card-text">

            <h2>Paterson, Julia</h2>
            <h3> Batswoman</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">11</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">32</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">14*</div>
            </div>
        </div>
    </div>

    <!-- ****** Vanumu, Rajeshwari Nikitha data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/18.jpg" />
        </div>
        <div class="card-text">

            <h2>Vanumu, Rajeshwari Nikitha</h2>
            <h5> Batswoman</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">11</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">21</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">9</div>
            </div>
        </div>
    </div>

</section>
<section class="player-area">
    <!--  ****** Wanigaratne, Anthea  data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/19.jpeg" />
        </div>
        <div class="card-text">
            <h2>Wanigaratne, Anthea</h2>
            <h4> All Rounder</h4>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">6</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">0</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">0/12</div>

            </div>
        </div>
    </div>

    <!--****** Wijekoon, Rashmi data ****** -->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/20.jpg" />
        </div>
        <div class="card-text">

            <h2>Wijekoon, Rashmi</h2>
            <h3> Bowler</h3>
        </div>
        <div class="card-stats">
            <div class="stat">

                <div class="type">Matches</div>
                <div class="value">49</div>

            </div>
            <div class="stat border">
                <div class="type">Wickets</div>
                <div class="value">41</div>

            </div>
            <div class="stat">
                <div class="type">BBI</div>
                <div class="value">5/10</div>
            </div>
        </div>
    </div>

    <!-- ****** Wijekoon, Sajani data ******-->
    <div class="card">
        <div class="card-image">
            <img src="~/img/player-img/21.jpeg" />
        </div>
        <div class="card-text">

            <h2>Wijekoon, Sajani</h2>
            <h5> All Rounder</h5>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="type">Matches</div>
                <div class="value">55</div>

            </div>
            <div class="stat border">
                <div class="type">Runs</div>
                <div class="value">1155</div>

            </div>
            <div class="stat">
                <div class="type">HS</div>
                <div class="value">81</div>
            </div>
        </div>
    </div>


</section>